name: homelab-core

networks:
  homelab-net:
    driver: bridge

services:
  dozzle:
    image: amir20/dozzle:latest
    restart: unless-stopped
    
    ports:
      - "10000:8080"
    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    
    networks:
      - homelab-net
